@model IEnumerable<Protecno.Models.Reparacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fechaAlta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaFinalizacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estadoReparacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fechaAlta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaFinalizacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estadoReparacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-controller="Facturas" asp-action="Create" asp-route-clienteId="@item.Id">FINALIZAR</a> |

            </td>
        </tr>
}
    </tbody>
</table>
