@model IEnumerable<Protecno.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<!--<p>
    <a asp-action="Create">Create New</a>
    <p>Creando producto para el cliente: <strong>@ViewBag.Clientenombre</strong></p>-->
@if (Model.Any() && Model.First().cliente != null)
{
    <p>Creando producto para el cliente: <strong>@Model.First().cliente.nombre</strong></p>
}
else
{
    <p>Debe especificar cliente.</p>
}
<!--</p>-->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aniofabricacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aniofabricacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>|
                <a asp-controller="Reparacions" asp-action="Create" asp-route-id="@item.Id">Cargar Reparacion</a> |
                <a asp-controller="Reparacions" asp-action="Index" asp-route-id="@item.Id">Ver Reparacion</a> 
            
            
            
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-controller="Home" asp-action="Home_sin_auth">
            <i class="bi bi-arrow-left-short"></i>
            Volver
        </a>
